html
    head
        title MasSplat
        meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no")
    body
        canvas
        touchpad.move(type="joystick", up="forward", down="backward", left="left", right="right")
        touchpad.look(type="mouse", up="up", down="down", left="turnLeft", right="turnRight")